<%= div_for(card, class: "card_container #{lastClass}", "data-image-url" => compute_asset_path('images')) do %>
    <%= react_component('CardOverlay', {
        cardId: card.id,
        show: overlay
    }) %>
    <%= image_tag('', 'data-frame-url' => card.get_frame_url, class: "card_frame") %>
    
    <%= content_tag(:div, nil, class: "card_art_container",
    "data-art-url" => card.image_art.expiring_url(120) )%>
    
    <div class="attack_defense_container">
      <%= image_tag('', class: 'attack_defense_box', 'data-attack-defense-box-url' =>card.get_attack_defense_box_url) %>
      <%= content_tag(:div, "#{card.attack}/#{card.defense}", class: 'attack_defense' ) %>
    </div>
    <%= content_tag(:div, sanitize(card.name), class: 'type_name_text card_name') %>

    <%= react_component('CardTypeSection', { type: name_or_nil(card.type), subtype: name_or_nil(card.subtype) }) %>
    
    <%= simple_format(sanitize(card.desc), class: 'card_desc') %>
    <div class="mana_symbols_container"
    data-mana-red = <%= card.mana_red %>
    data-mana-green = <%= card.mana_green %>
    data-mana-blue = <%= card.mana_blue %>
    data-mana-black = <%= card.mana_black %>
    data-mana-white = <%= card.mana_white %>
    data-mana-none = <%= card.mana_none %>
    >
      <div class='symbol_image_container' >
        <!--%= image_tag("symbols/red.png", class: "mana_symbol") %>
        <div id='symbol_number'></div-->
      </div>
    </div>
<% end %>