<% javascript 'card_edit.js' %>
<%= form_for(@card, multipart: true) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <div>Special Abilities</div>
        <%= collection_check_boxes('card', :special_ability_ids, SpecialAbility.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.file_field :image_art, id: "card_image_file_field" %>
  </div>

  <%= render 'shared/card' %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div>Color</div>
    <%= collection_select('card', :color, Color.all, :color_name, :color_name, id: "card_color") %>
  </div>
  
  <div class="field">
    <div>Mana Cost</div>
    <%= f.label 'Red' %>
    <%= f.number_field :mana_red, min: 0, max: 9, class: "mana_cost", id:"mana_red" %>
    <%= f.label 'Green' %>
    <%= f.number_field :mana_green, min: 0, max: 9, class: "mana_cost", id:"mana_green" %>
    <%= f.label 'Blue' %>
    <%= f.number_field :mana_blue, min: 0, max: 9, class: "mana_cost", id:"mana_blue" %>
    <%= f.label 'Black' %>
    <%= f.number_field :mana_black, min: 0, max: 9, class: "mana_cost", id: "mana_black" %>
    <%= f.label 'White' %>
    <%= f.number_field :mana_white, min: 0, max: 9, class: "mana_cost", id: "mana_white" %>
    <%= f.label 'Colorless' %>
    <%= f.number_field :mana_none, min: 0, max: 99, class: "mana_cost", id: "mana_colorless" %>
  </div>
  <div class="field">
    <%= f.label :attack %><br>
    <%= f.number_field :attack %>
  </div>
  <div class="field">
    <%= f.label :defense %><br>
    <%= f.number_field :defense %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc, id: 'card_desc_input'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
