<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <div>Special Abilities</div>
        <%= collection_check_boxes('card', :special_ability_ids, SpecialAbility.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.file_field :image_art, id: "card_image_file_field" %>
  </div>
  <div class="card_container">
    <%= image_tag('red/card_frame.jpg', class: "card_frame") %>
    <%= image_tag @card.image_art.url, alt: "No Image", class: "card_art" %>
  </div>
  <div id="target">
 </div>
  <div class="field">
    <div>Color</div>
    <%= collection_select('card', :color, Color.all, :color_name, :color_name) %>
  </div>
  
  <div class="field">
    <div>Mana Cost</div>
    <%= f.label 'Red' %>
    <%= f.number_field :mana_red %>
    <%= f.label 'Green' %>
    <%= f.number_field :mana_green %>
    <%= f.label 'Blue' %>
    <%= f.number_field :mana_blue %>
    <%= f.label 'Black' %>
    <%= f.number_field :mana_black %>
    <%= f.label 'White' %>
    <%= f.number_field :mana_white %>
    <%= f.label 'None' %>
    <%= f.number_field :mana_none %>
  </div>
  <div class="field">
    <%= f.label :attack %><br>
    <%= f.number_field :attack %>
  </div>
  <div class="field">
    <%= f.label :defense %><br>
    <%= f.number_field :defense %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
