<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <div>Special Abilities</div>
        <%= collection_check_boxes('card', :special_ability_ids, SpecialAbility.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.file_field :image_art, id: "card_image_file_field" %>
  </div>

  <div class="card_container" id= "card_container" 
    data-image-url = <%= compute_asset_path('images') %>>
    <%= image_tag("white/frame.jpg", class: "card_frame", id: "card_frame") %>
    <%= content_tag(:div, nil, class: "card_art_container", "data-art-url" => @card.image_art.url)%>
    <div class="attack_defense_container" >
      <%= image_tag("white/attack_defense_box.png", id: "attack_defense_box") %>
      <div id="attack_defense">3/4</div>
    </div>
    <div class="type_name_text" id="card_name">Totem-Guide Hartebeest</div>
    <div class="type_name_text" id="type_subtype">Creature - Human Artificer</div>
    <p id="card_desc">Spread kitty litter all over house knock over christmas tree for chase red laser dot chirp at birds, yet cough furball, and roll on the floor purring your whiskers off run in circles. Mark territory see owner, run in terror. Make muffins eat grass, throw it back up so caticus cuteicus immediately regret falling into bathtub yet chirp at birds. Give attitude loves cheeseburgers. If it fits, i sits. Get video posted to internet for chasing red dot. Throwup on your pillow play time. Chase red laser dot behind the couch, knock over christmas tree ears back wide eyed hiss at vacuum cleaner caticus cuteicus or hiss at vacuum cleaner. Swat at dog cough furball, chew on cable.</p>
    <div id="mana_symbols_container">
      <div id='symbol_image_container'>
        <!--%= image_tag("symbols/red.png", class: "mana_symbol") %>
        <div id='symbol_number'></div-->
      </div>
    </div>
  </div>

  <div class="field">
    <div>Color</div>
    <%= collection_select('card', :color, Color.all, :color_name, :color_name, id: "card_color") %>
  </div>
  
  <div class="field">
    <div>Mana Cost</div>
    <%= f.label 'Red' %>
    <%= f.number_field :mana_red, min: 0, max: 9, class: "mana_cost", id:"mana_red" %>
    <%= f.label 'Green' %>
    <%= f.number_field :mana_green, min: 0, max: 9, class: "mana_cost", id:"mana_green" %>
    <%= f.label 'Blue' %>
    <%= f.number_field :mana_blue, min: 0, max: 9, class: "mana_cost", id:"mana_blue" %>
    <%= f.label 'Black' %>
    <%= f.number_field :mana_black, min: 0, max: 9, class: "mana_cost", id: "mana_black" %>
    <%= f.label 'White' %>
    <%= f.number_field :mana_white, min: 0, max: 9, class: "mana_cost", id: "mana_white" %>
    <%= f.label 'Colorless' %>
    <%= f.number_field :mana_none, min: 0, max: 99, class: "mana_cost", id: "mana_colorless" %>
  </div>
  <div class="field">
    <%= f.label :attack %><br>
    <%= f.number_field :attack %>
  </div>
  <div class="field">
    <%= f.label :defense %><br>
    <%= f.number_field :defense %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
