<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <div>Special Abilities</div>
        <%= collection_check_boxes('card', :special_ability_ids, SpecialAbility.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.file_field :image_art, id: "card_image_file_field" %>
  </div>

  <div class="card_container">
    <%= image_tag("white/frame.jpg", class: "card_frame", id: "card_frame", "data-image-url" => compute_asset_path('images')) %>
    <%= content_tag(:div, nil, class: "card_art_container", "data-art-url" => @card.image_art.url)%>
    <div class="attack_defense_container" >
      <%= image_tag("red/attack_defense_box.png", id: "attack_defense_box") %>
      <div id="attack_defense">3/4</div>
    </div>
    <div id="card_name">Totem-Guide Hartebeest</div>
    <div id="type_subtype"></div>
    <p id="card_desc"></p>
  </div>

  <div class="field">
    <div>Color</div>
    <%= collection_select('card', :color, Color.all, :color_name, :color_name, id: "card_color") %>
  </div>
  
  <div class="field">
    <div>Mana Cost</div>
    <%= f.label 'Red' %>
    <%= f.number_field :mana_red %>
    <%= f.label 'Green' %>
    <%= f.number_field :mana_green %>
    <%= f.label 'Blue' %>
    <%= f.number_field :mana_blue %>
    <%= f.label 'Black' %>
    <%= f.number_field :mana_black %>
    <%= f.label 'White' %>
    <%= f.number_field :mana_white %>
    <%= f.label 'None' %>
    <%= f.number_field :mana_none %>
  </div>
  <div class="field">
    <%= f.label :attack %><br>
    <%= f.number_field :attack %>
  </div>
  <div class="field">
    <%= f.label :defense %><br>
    <%= f.number_field :defense %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
