<% javascript 'card_edit.js' %>
<% images_path = compute_asset_path('images') %>
<%= form_for(@card, multipart: true) do |f| %>
  <% locals = { images_path: images_path, f: f} %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field form-group">
      <div>Special Abilities</div>
        <%= collection_check_boxes('card', :special_ability_ids, SpecialAbility.all, :id, :name) %>
  </div>
  <div class="field btn btn-default btn-file">
    <%= f.file_field :image_art, id: "card_image_file_field" %>
  </div>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :color %><br>
    <%= collection_select('card', :color, Color.all, :color_name, :color_name, {}, { id: "card_color", class: "form-control" }) %>
  </div>

  <%= render partial: 'type_subtype', locals: { f: f }%>
  <%= render partial: 'mana_field', locals: locals %>
  <%= render partial: 'power_toughness', locals: { f: f } %>


  <div class="field form-group">
    <%= f.label :desc %><br>
    <%= f.text_area :desc, class: "form-control", id: 'card_desc_input'%>
  </div>

  <div class="insertable_symbol_group">
    <% CardsHelper::SYMBOL_IMAGE_NAME.each_key do |k| %>
      <%= image_tag(symbol_to_image_path(k), "data-text-key" => k, class:"insertable_symbol") %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
