<p id="notice"><%= notice %></p>

<p>
  <strong>Image path:</strong>
  <%= @card.image_path %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @card.colors %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @card.attack %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @card.defense %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @card.desc %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
