<!DOCTYPE html>
<html>
<head>
  <title>MagicMaker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= react_component('Header', {title: yield(:title), authorized: user_signed_in?}) %>
	<p class="notice"/>
	<div class="main-container">
		<%= yield(:head) %>
		<%= yield %>
	</div>
</body>
</html>
