<!DOCTYPE html>
<html>
<head>
  <title>MagicMaker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= react_component('Header', {title: yield(:title)}) %>
	<% if user_signed_in?  %>	
		<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
	<% else %>
        <%= react_component('LightboxLink', { url: new_user_session_path, link_type: 'log_in' }) %>
        <%= react_component('LightboxLink', { url: new_user_registration_path, link_type: 'sign_up' }) %>
	<% end %>
	<div class="main-container">
		<%= yield(:head) %>
		<%= yield %>
	</div>
</body>
</html>
